<?php
    $database_hostname = "{{ app_prefix }}-mysql-server.mysql.database.azure.com";
    $database_username = "{{ app_database_username }}@{{ app_prefix }}-mysql-server";
    $database_password = "{{ app_database_password }}";
    $database = "{{ app_prefix }}";
?>
