<?php
    $database_hostname = "{{ hostvars['localhost']['rds_endpoint_address'] }}";
    $database_username = "{{ app_database_username }}";
    $database_password = "{{ app_database_password }}";
    $database = "{{ app_database_name }}";
?>
